.masthead {
    display: grid;
    padding: 5px 20px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    'MENUANDSEARCH . ACTIONS'
    'TECHNOLOGIES TECHNOLOGIES TECHNOLOGIES'
    'DATE LOGO PAPER';
}

.masthead_menu-and-search {
    grid-area: MENUANDSEARCH;
    padding-left: 20px;
}

.menu-search {
    font-size: 11px;
    padding: 7px 9px;
    display: inline-block;  
}

a:hover {
    background-color:#999;
}

.masthead_actions {
    grid-area: ACTIONS;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 5px;
    
    
}

button {
    background-color: #6288a5;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    padding: 7px 9px;
    margin: 4px;
    

}

button:hover{
    transition: background-color .3s;
    background-color: #326891;
    text-transform: uppercase;
}

.masthead_paper {
    grid-area: PAPER;
    border-bottom: 1px solid #e2e2e2 ;
    align-self: end;
    text-align: end;
    padding-bottom: 5px;
}

.paper {
    padding-right: 10px;
}

.masthead_technologies {
    grid-area: TECHNOLOGIES;
    text-align: center;
    border-bottom: 1px solid #e2e2e2 ;
    display: flex;
    justify-content: center;
    align-self: end;
    
}
.tech {
   text-transform:uppercase;
   font-size: 10px;
   color: #6f6f6f ;
   
}

.tech-border {
    border-top: 1px solid #e2e2e2 ;
    border-right: 1px solid #e2e2e2 ;
    border-left : 1px solid #e2e2e2 ;
    padding:  0px 1px;
    display: inline;
    align-self: end;
    background-color: white;
    position: relative;
    top: 1px;
    
    
    
}

.masthead_date {
    grid-area: DATE;
    border-bottom: 1px solid #e2e2e2 ;
    display: flex;
    align-self: end;
    padding-bottom: 5px;
}

.masthead_logo {
    grid-area: LOGO;
    text-align: center;
    border-bottom: 1px solid #e2e2e2 ;
    padding: 10px;
}
